@model IEnumerable<Moldtrax.Models.tblDDTIType>
    @using Moldtrax.Models
@{
    int Total = 0;
    foreach (var x in Model)
    {
        Total += 1;
    }
}
<style>
    .table-con {
        height: 540px;
    }
</style>
@*<br>*@
<div class="row">
    <div class="col-md-6 btn_css">
        <input type="button" class="add_btn" value="A-Z" id="CorrectiveActionTypeAscOrder" />
        <input type="button" class="del_btn" value="Z-A" id="CorrectiveActionTypeDescOrder" />
    </div>
        <div class="col-md-6 text-right btn_css">
            <input type="button" class="back_btn" value="Back" onclick="doUndo()" />
            @*<input type="button" onclick="AddActiontype()" class="create_btn" value="Add" />*@
            <input type="button" class="add_btn" value="Add" id="NewCorrectiveDataAction" />
            <input type="hidden" class="add_btn" value="Add" id="OldCorrectiveDataAction" data-toggle="modal" data-target="#MTCorrectiveDataActionType" />
            @*<input type="button" onclick="SaveActionType()" class="edit_btn" value="Save" />*@
            <input type="button" onclick="DeleteActionType()" class="delete_btn" value="Delete" />
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card box_design">
                <div class="card_body table-con" id="table3">
                    <table class="table table-bordered table-responsive" id="corrective_actype">
                        <thead>
                            <tr>
                                <th class="th_detail1"><input type="checkbox" id="MainActionTypeChck" value=""></th>
                                <th class="th_detail2">Corrective Action Type</th>
                                <th class="th_detail3">Explanation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td><input type="checkbox" value="@x.ID" name="SubActionTypeChck" class="Subcheckbox"></td>
                                    <td>
                                        <input type="hidden" id="ID" value="@x.ID" />
                                        <input type="text" autocomplete="off" value="@x.TIType" id="TIType" class="form-control CorrectiveActionFocusOut">
                                    </td>
                                    <td>
                                        <input type="text" autocomplete="off" value="@x.TITypeDesc" id="TITypeDesc" class="form-control CorrectiveActionFocusOut">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <label class="red_total">Total: @Total</label>
            </div>
        </div>
    </div>

    <div class="modal fade" id="MTCorrectiveDataActionType">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Corrective Action Type</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-responsive" id="corrective_actype">
                        <thead>
                            <tr>
                                <th class="th_detail2">Corrective Action Type</th>
                                <th class="th_detail3">Explanation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" autocomplete="off" value="" id="AddTIType" class="form-control">
                                </td>
                                <td>
                                    <input type="text" autocomplete="off" value="" id="AddTITypeDesc" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer btn_css">
                    <input type="button" class="add_btn" id="SaveCorrectiveAction" value="Save" />
                    <input type="button" class="del_btn" data-dismiss="modal" value="Close" />
                </div>

            </div>
        </div>
    </div>

    @*<div class="modal fade" id="MTCorrectiveDataActionType">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Corrective Action Type</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Corrective Action Type</label>
                                <input type="text" value="" id="AddTIType" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <label>Explanation</label>
                                <input type="text" value="" id="AddTITypeDesc" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer btn_css">
                        <input type="button" class="add_btn" id="SaveCorrectiveAction" value="Save" />
                        <input type="button" class="del_btn" data-dismiss="modal" value="Close" />
                    </div>

                </div>
            </div>
        </div>*@
    <script>
        document.getElementById('table3').addEventListener("scroll", function () {
            var translate = "translate(0," + this.scrollTop + "px)";
            var myElements = this.querySelectorAll("thead");
            //myElements.style.border = '2px solid red';
            for (var i = 0; i < myElements.length; i++) {
                myElements[i].style.transform = translate;
            }
        });
    </script>
    <script>
        //$(document).ready(function () {
        //    $('#corrective_actype').DataTable();
        //});

        $("#CorrectiveActionTypeAscOrder").click(function () {
            $.ajax({
                url: '/Administration/CorrectiveActionTypeAscedingOrder',
                type: 'Post',
                success: function (data) {
                    $("#home").html(data);
                },
                error: function () {

                }
            })
        })


        $("#CorrectiveActionTypeDescOrder").click(function () {
            $.ajax({
                url: '/Administration/CorrectiveActionTypeDescndingOrder',
                type: 'Post',
                success: function (data) {
                    $("#home").html(data);
                },
                error: function () {

                }

            })
        })

        $("#NewCorrectiveDataAction").click(function () {
            $("#OldCorrectiveDataAction").click();
            $('.modal-dialog').draggable({
                "handle": ".modal-header"
            });
            $(".modal-backdrop").hide();
        })

        function AddActiontype() {
            var htmlstring = "<tr><td><input type='checkbox' value='0'></td>";
            htmlstring += "<td><input type = 'text' value='' id='TIType' name = 'TIType' class='form-control' ></td>";
            htmlstring += "<td><input type='text' value='' id='TITypeDesc' name='TITypeDesc' class='form-control'></td></tr>";
            $("#corrective_actype tbody").append(htmlstring);
        }

        $(".CorrectiveActionFocusOut").focusout(function () {
            var obj = new Object();
            obj.ID = $(this).closest("tr").find('td:eq(1)').find("#ID").val();
            obj.TIType = $(this).closest("tr").find('td:eq(1)').find("#TIType").val();
            obj.TITypeDesc = $(this).closest("tr").find('td:eq(2)').find("#TITypeDesc").val();

            $.ajax({
                url: '/Administration/SaveCorrectiveActionTypeFocusOut',
                type: 'Post',
                data: obj,
                success: function (data) {

                },
                error: function () {

                }
            })
        })

        $("#SaveCorrectiveAction").click(function () {
            var obj = new Object();
            obj.TIType = $("#AddTIType").val();
            obj.TITypeDesc = $("#AddTITypeDesc").val();

            $.ajax({
                url: '/Administration/SaveCorrectiveActionType',
                type: 'Post',
                data: obj,
                success: function (data) {
                    Swal.fire({
                        title: "Success",
                        text: 'Data saved successfully.',
                        type: "success"
                    }).then(function () {
                        $("#home").html(data);
                        $(".modal-backdrop").hide();

                    })
                },
                error: function () {

                }
            })
        })

        function SaveActionType() {
            var model = new Array();

            $("#corrective_actype tbody tr").each(function () {
                var row = $(this);

                var db = {};
                db.ID = row.find("TD").eq(1).find("#ID").val();
                db.TIType = row.find("TD").eq(1).find("#TIType").val();
                db.TITypeDesc = row.find("TD").eq(2).find("#TITypeDesc").val();
                model.push(db);
            })

            $.ajax({

                url: '/Administration/SaveCorrectiveActionType',
                type: 'Post',
                data: JSON.stringify(model),
                contentType: 'application/json',
                dataType: 'html',
                success: function (data) {
                    Swal.fire({
                        title: "Success",
                        text: 'Data saved successfully.',
                        type: "success"
                    }).then(function () {
                        $("#home").html(data);
                    })
                },
                error: function () {

                }
            })

        }




        $(document).ready(function () {
            
            $('#MainActionTypeChck').click(function () {
                
                if ($(this).is(':checked'))
                    $('input[name="SubActionTypeChck"].Subcheckbox').prop('checked', true)
                else
                    $('input[name="SubActionTypeChck"].Subcheckbox').prop('checked', false)
            });

            $('input[name="SubActionTypeChck"].Subcheckbox').click(function () {
                
                if ($('input:checkbox[name="SubActionTypeChck"].Subcheckbox').length == $('input:checkbox[name="SubActionTypeChck"].Subcheckbox:checked').length) {
                    $('input[name="SubActionTypeChck"].SelectAll').prop("checked", true);
                }
                else {
                    $('input[name="SubActionTypeChck"].SelectAll').prop("checked", false);
                }
            })
        })


        function DeleteActionType() {
            
            //var SetID = $(".highlight").find("td").eq(1).find("#SetIDVal").val();
            //var MoldID = $("#MainMoldHidnID").val();
            var selID = new Array();
            var str = '';
            $('input:checkbox[name=SubActionTypeChck].Subcheckbox:checked').each(function () {
                if ($(this).prop('checked')) {
                    var selID = $(this).val();
                    if (selID == "on")
                        selID = 0;
                    if (selID > 0) {
                        str += "" + selID + ",";
                    }
                    
                }
                //if (selID == 0) {
                //    $(this).closest("tr").remove();
                //}
            });

            if (str == '') {
                //Swal.fire('Please select item.')
            }

            else {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it.'
                }).then((result) => {
                    if (result.value) {
                        $(".loader__wrap").show();

                        $.ajax({
                            url: "/Administration/DeleteCorrectiveActionType",
                            type: "post",
                            data: { str: str },
                            success: function (data) {
                                
                                //$("#TroubleShooter").html(data);
                                //$(".loader__wrap").hide();
                                Swal.fire({
                                    title: 'Deleted',
                                    text: 'Data has been deleted.',
                                    type: "success"
                                }).then(function () {
                                    $("#home").html(data);
                                })

                                //window.location.href = '/DetailMoldInfo/Index';
                            },
                            error: function () {
                                //$(".loader__wrap").hide();
                            }
                        });
                    }
                })
            }
        }


        $('.CorrectiveActionFocusOut').on('focusin', function () {
            $(this).data('val', $(this).val());
        });


      $(function () {
          $('.CorrectiveActionFocusOut').on('change', function () {
             $(this).closest("tr").attr('name', '1');
            var obj = new Object();
            obj.TableName = '@GetDBTableName.tblDDTIType.ToString()';
            obj.NewColVal = $(this).val();
            obj.LabelName = $(this).attr("ID");
             obj.OldColVal = $(this).data('val');
             obj.DataKey = $(this).closest("tr").eq(2).find("#MoldDataID").val();
            obj.Action = '@GetAction.Update.ToString()';
            obj.PageName = '@GetTabName.CorrectiveActionType.ToString()';


            if ($(this).data('val') != $(this).val()) {
                $.ajax({
                    url: '/Account/CallUpdateLogFunc',
                    type: 'Post',
                    data: obj,
                    success: function () {

                    },
                    error: function () {

                    }
                })
            }
        });
    });
    </script>
    <script>
        document.getElementById('table3').style.height = window.innerHeight - 211 + 'px';
        //window.onresize = autoResizeDiv;
    </script>
