@model Moldtrax.Models.LayoutData
@{ 

    string LocatioNo = "";
    int LocationID = 0;
    int MoldID = 0;
    if (ViewBag.MoldDataID != null)
    {
        MoldID = ViewBag.MoldDataID;
    }

    foreach (var x in Model.tblCavityLocations)
    {
        LocatioNo = x.CavityLocationNumber;
        LocationID = x.CavityLocationID;
        break;
    }

    int Total = 0;
    foreach (var x in Model.tblCavityLocations)
    {
        Total += 1;
    }

    int Permission = 3;
    if (Session["Permission"] != null)
    {
        Permission = Convert.ToInt32(Session["Permission"]);
    }
    else
    {
        Response.Redirect("~/Account/Login");
    }

    Layout = null;

}
<style>
    .table-con {
        overflow-y: auto;
        height: 476px;
    }
 .left_lay{
    height: 543px;
}
</style>
@*<br />*@
<div class="row">
    <div class="col-md-2">
        <div class="card box_design">
            <div class="card_header">
                <h5>Mold Position</h5>
            </div>
            <div class="card_body table_layout_left table-con left_lay" id="table">
                <table id="LayoutData" class="table table-mold tableLayoutMold table table-responsive">
                    <tbody>
                        @foreach (var x in Model.tblCavityLocations)
                        {
                            <tr onclick="CallCavityNum(@x.CavityLocationID,'@x.CavityLocationNumber', this)">
                                <td>
                                    <label id="CavHidVal">@x.CavityLocationNumber</label>
                                    <input type="hidden" id="CavityLoc" value="@x.CavityLocationID" />
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <label class="red_total">Total Mold: @Total</label>
        </div>
            </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="form-inline ip_small btn_css">
                    <label>Mold Position Number</label>
                    <input type="text" autocomplete="off" id="MoldPositionNum" value="@LocatioNo.ToString()" class="form-control">
                    <input type="hidden" id="MoldPositionID" value="@LocationID" />
                    <input type="button" id="AddMoldPosition" value="Add" class="del_btn" />
                    <input type="button" id="DeletedSelectedMoldPosition" value="Deleted Selected Mold Position" class="add_btn" />
                    <input type="button" id="DeletedAllMoldPosition" value="Delete All Mold Positions" class="create_btn" />

                </div>
            </div>
        </div>
        <div class="card box_design">
            <div class="card_body" id="CavityNum">
                @Html.Partial("_tblCavityNumberData", Model.tblCavityNumber)
            </div>
        </div>
    </div>
        </div>
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script>
    $('.tableLayoutMold tbody tr:first').addClass('active');

   if (@Permission == 2) {
        $("#DeletedAllMoldPosition, #DeleteCavityID").hide();
        $("#DeletedSelectedMoldPosition").hide();
    }

    else if (@Permission == 3) {
        $("#DeletedAllMoldPosition, #DeleteCavityID").hide();
        $("#DeletedSelectedMoldPosition").hide();
        $("#AddMoldPosition").show();
        //$("#CreateActiveCavity").hide();
    }

    else if (@Permission == 4 || @Permission == 5 || @Permission == 6)
    {
        $(".CallingFocusOut, .CavityDateInstalled, .CavityDateRemoved").attr("disabled", "disabled");
        $("#DeletedAllMoldPosition, #DeleteCavityID, #AddMoldPosition, #CreateActiveCavity").hide();
        $("#DeletedSelectedMoldPosition").hide();
    }

    $("#DeletedSelectedMoldPosition").click(function () {
        var CavityID = $("#MoldPositionID").val();
        var MoldID = $("#MainMoldHidnID").val();
        if (CavityID == 0) {
            Swal.fire('Please select Mold')
        }

        else {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it.'
            }).then((result) => {
                if (result.value) {
                    $(".loader__wrap").show();
                    $.ajax({
                        url: "/DetailMoldInfo/DeleteSelectedMoldPosition?ID=" + CavityID + "&MoldID=" + MoldID,
                        type: "post",
                        success: function (data) {
                            Swal.fire(
                                'Deleted',
                                'Data has been deleted.',
                                'success'
                            ).then()
                            {
                                $("#MoldTb").html(data);
                            }
                        },
                        error: function () {
                        }
                    });
                }
            })
        }
    })

    function CallCavityNum(ID,CID,e)
    {

        $('.tableLayoutMold tr').each(function () {
            $(this).removeClass('active');
        });

        $(e).addClass('active');

        $("#MoldPositionNum").val(CID);
        $("#MoldPositionID").val(ID);

        $.ajax({
            url: '/DetailMoldInfo/GetCavityNumberList?CavityID=' + ID,
            type: 'Get',
            success: function (data)
            {
                $("#CavityNum").html(data);

            },
            error: function ()
            {

            }

        })
    }


    $("#AddMoldPosition").click(function ()
    {
        var MoldID = $("#MainMoldHidnID").val();
        var MoldposNum = $("#MoldPositionNum").val();
        var NewCav = true;
        $("#LayoutData tbody tr").each(function () {
            var row = $(this);
            var Trouble;
            Trouble = row.find("TD").eq(0).find("#CavHidVal").text();
            if (Trouble == MoldposNum) {
                NewCav = false;
            }
        });

            if (NewCav == true)
            {
                $.ajax({

                    url: '/DetailMoldInfo/CreateNewCavityLocation?MoldID=' + MoldID + '&CavityNum=' + encodeURIComponent(MoldposNum),
                    type: 'Post',
                    success: function (data) {
                            $("#MoldTb").html(data);
                        $(".modal-backdrop").hide();

                        $("#LayoutData tbody tr").each(function () {
                            var row = $(this);
                            var Trouble;
                            Trouble = row.find("TD").eq(0).find("#CavHidVal").text();
                            if (Trouble == MoldposNum) {
                                $(this).click();
                                NewCav = false;
                            }
                        });

                    },
                    error: function () {

                    }
                })
            }


    })



    $("#MoldPositionNum").focusout(function () {
        var MoldID = $("#MainMoldHidnID").val();
        var MoldposNum = $("#MoldPositionNum").val();
        var NewCav = true;
        $("#LayoutData tbody tr").each(function () {
            var row = $(this);
            var Trouble;
            Trouble = row.find("TD").eq(0).find("#CavHidVal").text();
            if (Trouble == MoldposNum) {
                $(this).click();
                NewCav = false;
            }
        });
    })

    $("#DeletedSelectedMoldPosition").click(function ()
    {
       var CavityID = $("#MoldPositionID").val();

        if (CavityID == 0) {
            Swal.fire('Please select Mold')
        }

        else {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it.'
            }).then((result) => {
                if (result.value)
                {
                    $(".loader__wrap").show();
                    $.ajax({
                        url: "/DetailMoldInfo/DeleteSelectedMoldPosition?ID="+ CavityID+"&MoldID="+@MoldID,
                        type: "post",
                        success: function (data) {
                            Swal.fire(
                                'Deleted',
                                'Data has been deleted.',
                                'success'
                            ).then()
                            {
                                $("#MoldTb").html(data);
                            }
                        },
                        error: function () {
                            //$(".loader__wrap").hide();
                        }
                    });
                }
            })
        }
    })

     $("#DeletedAllMoldPosition").click(function ()
    {
       var CavityID = $("#MoldPositionID").val();

        if (CavityID == 0) {
            Swal.fire('Please select Mold')
        }

        else {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it.'
            }).then((result) => {
                if (result.value) {
                    $(".loader__wrap").show();
                    $.ajax({
                        url: "/DetailMoldInfo/DeleteAllMoldPosition?MoldID="+@MoldID,
                        type: "post",
                        success: function (data) {
                            //$("#PaymentDiv").html(data);
                            //$(".loader__wrap").hide();
                            Swal.fire(
                                'Deleted',
                                'Data has been deleted.',
                                'success'
                            ).then()
                            {
                                $("#MoldTb").html(data);
                            }
                        },
                        error: function () {
                            //$(".loader__wrap").hide();
                        }
                    });
                }
            })
        }
    })

    $('.table-mold tr').each(function () {
        var row = $(this);


    });

</script>
<script>
    document.getElementById('table').style.height = window.innerHeight - 207 + 'px';
    //window.onresize = autoResizeDiv;
</script>