@model IEnumerable<Moldtrax.Models.MoldToolingCosts>

@{
    ViewBag.Title = "MoldToolingCostsContr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .code-cut {
        /*overflow: auto;*/
        display: inline-block;
    }


    body {
        font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #fff;
    }

    .truncate {
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<script src="~/Scripts/jquery.table2excel.js"></script>

<div class="card box_design">
    <div class="card_header">
        <div class="row">
            <div class="col-md-6">
                <h5 class="main_top_head">Mold Tooling Costs Contr</h5>
            </div>
            <div class="col-md-6 text-right btn_css">
                <button onclick="window.close()" class="back_btn">Back</button>
                <button id="btnExport" onclick="fnExcelReport()" class="back_btn">Export to Excel</button>
            </div>
        </div>
    </div>
    <div class="card_body">
        <div class="row">
            <div class="col-md-12" id="report_tables">
                <div class="code-cut">
                    <table id="MoldBlockQuan" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Mold <img src="~/images/sort.png" /></th>
                                <th>Description <img src="~/images/sort.png" /></th>
                                <th>Configuration #1 <img src="~/images/sort.png" /></th>
                                <th>Configuration #2 <img src="~/images/sort.png" /></th>
                                <th>Tooling <img src="~/images/sort.png" /></th>
                                <th>Qty <img src="~/images/sort.png" /></th>
                                <th>Type <img src="~/images/sort.png" /></th>
                                <th>Date Installed <img src="~/images/sort.png" /></th>
                                <th>Repair Date <img src="~/images/sort.png" /></th>
                                <th>Part No <img src="~/images/sort.png" /></th>
                                <th>Detail No <img src="~/images/sort.png" /></th>
                                <th>Vendor <img src="~/images/sort.png" /></th>
                                <th>Part Cost <img src="~/images/sort.png" /></th>
                                <th>Total Cost <img src="~/images/sort.png" /></th>
                                <th>Cycle Count <img src="~/images/sort.png" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                                <tr>
                                    <td>@x.Mold</td>
                                    <td>@x.Description</td>
                                    <td>@x.Configuration</td>
                                    <td>@x.Configuration2</td>
                                    <td>@x.Tooling</td>
                                    <td class="num_right">@x.Qty</td>
                                    <td>@x.Type</td>
                                    <td class="num_right">@Convert.ToDateTime(x.DateInstalled).ToShortDateString()</td>
                                    <td class="num_right">@Convert.ToDateTime(x.RepairDate).ToShortDateString()</td>
                                    <td>@x.PartNo</td>
                                    <td>@x.DetailNo</td>
                                    <td>@x.Vendor</td>
                                    <td class="num_right">@String.Format("{0:C}", x.PartCost)</td>
                                    <td class="num_right">@String.Format("{0:C}", x.TotalCost)</td>
                                    <td class="num_right">@String.Format("{0:n0}", x.CycleCount) </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    $('#MoldBlockQuan').DataTable({
    //        "paging": false
    //    });
    //});

    $(document).ready(function () {
        var table = $('#MoldBlockQuan').DataTable({
            "paging": false,
            columnDefs: [{ targets: 4, className: "truncate" }],
            createdRow: function (row) {
                var td = $(row).find(".truncate");
                td.attr("title", td.html());
            }
        });
    });


    function fnExcelReport() {
        $("#MoldBlockQuan").table2excel({
            // exclude CSS class
            exclude: ".noExl",
            name: "Worksheet Name",
            filename: "Fastrax", //do not include extension
            fileext: ".xls" // file extension
        });
    }

  
</script>

<script>
    document.getElementById('report_tables').style.height = window.innerHeight - 100 + 'px';
    //window.onresize = autoResizeDiv;
</script>